.maingrid{
    max-width: 950px;
    text-align: center;   
    float:left;  
}

.topgrid{
    max-height: 300px;
    margin: 20px 0 20px;
    text-align: center;
}

.followgrid{
    margin-left: 50px;
    min-width: 250px; 
    float:left;
}

 