/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

body{
    font-family: Roboto;
    font-size: 18px;
    color: rgb(31, 31, 31);
    background-color: #f0f0f0;
    line-height: 1.05em;
}

p{
    margin:5px 0 5px 0;
}

.block{
    background-color: #fdfdfd; 
    border-radius: 2px 2px; 
    margin-bottom: 20px;

}

